DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/vendor_city?schema=public"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_TRUST_HOST=true
CLOUDINARY_URL="cloudinary://API_KEY:API_SECRET@CLOUD_NAME"
